.body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 50px;
    text-align: center;
}

h4 {
    margin: 50px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;

}

.map {
    width: 100%;
    height: 100%;
}

#mapid {
    width: 100%;
    height: 600px;
}